<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
  <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png" />
  <title>Jar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    #buttons {
      border-radius: 25px;
      background: black;
      color: white;
      padding: 20px;
      width: 200px;
      height: 50px;
      text-align: center;
      text-transform: uppercase;
  }
    a{
      color:white;
    }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Virtual Jar</h1>
  <p>Choose an activity below!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Restuarants</h3>
      <p>Will Choose a Random Restaurant.</p>
      <p id="buttons"><b><a href="/randomRestuarant" >Choose!</a></b></p>
    </div>
    <div class="col-sm-4">
      <h3>Activities</h3>
      <p>Will Choose a Random Activity.</p>
      <p id="buttons"><b><a href="/randomActivity" >Choose!</a></b></p>
    </div>
    <div class="col-sm-4">
      <h3>New Entry</h3>
      <p>Add to the Database!</p>
      <p id="buttons"><b><a href="/newLocation" >Choose!</a></b></p>
    </div>
  </div>
</div>

</body>
</html>
