<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
  <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png" />
  <title>Jar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    #buttons {
      border-radius: 25px;
      background: black;
      color: white;
      padding: 20px;
      width: 200px;
      height: 50px;
      text-align: center;
      text-transform: uppercase;
  }
    a{
      color:white;
    }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Virtual Jar</h1>
  <p>Enter a new location below!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Locations</h3>
        <form action="/insertData" method="post">
          <p>Name</p>
          <p><input type="text" name="name"></p>
          <p>Price Range (1-5)</p>
          <p><input type="text" name="price"></p>
          <p>Neighborhood</p>
          <p><input type="text" name="neighborhood"></p>
          <p>Region</p>
          <p><input type="text" name="region"></p>
          <p>Reservation (Y/N)</p>
          <p><input type="text" name="reservation"></p>
          <p>Type (R/A for Restaurant or Activity)</p>
          <p><input type="text" name="type"></p>
          <p>Time There (minutes)</p>
          <p><input type="text" name="time"></p>
          <p><input type="submit" name="my-form" value="Send"></p>
        </form>
    </div>
  </div>
</div>

</body>
</html>
