<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    #buttons {
      border-radius: 25px;
      background: black;
      color: white;
      padding: 20px;
      width: 200px;
      height: 50px;
      text-align: center;
      text-transform: uppercase;
  }
    a{
      color:white;
    }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Virtual Jar</h1>
  <p>Here's Your Choice! Refresh the Page to Pick Again!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>
        <p><b>Name</b></p>
        <p>{{ name }}</p>
        </br>
        <p><b>Price ($-$$$$$)</b></p>
        <p>{{ price }}</p>
        </br>
        <p><b>Neighborhood</b></p>
        <p>{{ neighborhood }}</p>
        </br>
        <p><b>Region</b></p>
        <p>{{ region }}</p>
        </br>
        <p><b>Reservation Required</b></p>
        <p>{{ res }}</p>
        </br>
        <p><b>Type (Restaurant/Activity)</b></p>
        <p>{{ type }}</p>
        </br>
        <p><b>Time There (mins)</b></p>
        <p>{{ time }}</p>
      </h3>
      <p id="buttons"><b><a href="/" >Back to Home</a></b></p>
    </div>
  </div>
</div>

</body>
</html>
